<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="puship-plugin"
    version="1.0.0">
    <name>Puship Plugin</name>
    <description></description>
    <license>MIT</license>
    <keywords>Push</keywords>
    <repo>https://github.com/Puship/puship-plugin</repo>
    <issue>https://github.com/Puship/puship-plugin/issues</issue>

	<js-module src="www/plugin.js" name="MyCordovaPlugin">
		<clobbers target="MyCordovaPlugin" />
	</js-module>

</plugin>
